<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쇼핑몰 관리자 페이지</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/admin/layout::header}"></div>
	<div class="container">
		<div class="admin-form">
			<h1 class="form_page_title">상품 수정</h1>
			<form action="/admin/modify" method="post" enctype="multipart/form-data" onsubmit="return formCheck()">
				<input type="hidden" name="pno" th:value="${product.pno}">
				<div>
					<label>상품명<span class="text-red">*</span></label>
					<input type="text" name="pname" id="pname" placeholder="상품명" th:value="${product.pname}">
				</div>
				<div>
					<label>내용</label>
					<textarea name="pcontent" id="pcontent" placeholder="상품 설명" th:text="${product.pcontent}"></textarea>
				</div>
				<div>
					<label>입고 가격<span class="text-red">*</span></label>
					<input type="number" name="stockprice" id="stockprice" placeholder="숫자만 입력" th:value="${product.stockprice}">
				</div>
				<div>
					<label>판매 가격<span class="text-red">*</span></label>
					<input type="number" name="saleprice" id="saleprice" placeholder="숫자만 입력" th:value="${product.saleprice}">
				</div>
				<div>
					<label>입고 수량<span class="text-red">*</span></label>
					<input type="number" name="amount" id="amount" placeholder="숫자만 입력" th:value="${product.amount}">
				</div>
				<input class="btn-admin-purple" type="submit" value="수정">
			</form>
		</div>
	</div>
	<script>
	const pname=document.querySelector("#pname");
	const stockprice=document.querySelector("#stockprice");
	const saleprice=document.querySelector("#saleprice");
	const amount=document.querySelector("#amount");
	
	function formCheck(){
		if(pname.value.length == 0){
			alert("상품명을 입력해주세요");
			return false;
		}
		if(stockprice.value.length == 0){
			alert("입고 가격을 입력해주세요");
			return false;
		}
		if(saleprice.value.length == 0){
			alert("판매 가격을 입력해주세요");
			return false;
		}
		if(amount.value.length == 0){
			alert("입고 수량을 입력해주세요");
			return false;
		}
		return true;
	};
</script>
</body>
</html>