<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쇼핑몰</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/members/layout::header}"></div>
	
	<div class="container">
		<h1 class="page_title">마이페이지</h1>
		
		<div class="saleDetail_box d-flex align-items-center" th:each="saleDetail : ${list}">
			<div class="img_box_wrap">
				<div class="img_box">
					<img th:src="@{'/images/' + ${saleDetail.pimg}}" alt="상품">
				</div>
			</div>
			<div class="info_box">
				<div>주문번호 [[${saleDetail.scode}]]</div>
				<div>주문 날짜 [[${saleDetail.salesDate}]]</div>
				<div>[[${saleDetail.pname}]]</div>
				<div>[[${saleDetail.saleprice}]]</div>
				<div>[[${saleDetail.samount}]]</div>
			</div>
			<div class="delete_box">
				<a th:href="@{/members/deleteSales(sno=${saleDetail.sno})}" class="btn-gray">주문 취소</a>
			</div>
		</div>
		
	</div>
	
</body>
</html>