<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쇼핑몰</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/members/layout::header}"></div>
	
	<div class="container">
		<h1 class="page_title">마이페이지</h1>
		<div>
		
		</div>
	</div>
	<script>
	const sbnos = document.querySelectorAll(".sbno");
	const samount = document.querySelectorAll(".samount");
	const modifyShoppingBasketBtn = document.querySelectorAll(".modifyShoppingBasketBtn");
	const deleteShoppingBasketBtn = document.querySelectorAll(".deleteShoppingBasketBtn");
	
	for (let i = 0; i < modifyShoppingBasketBtn.length; i++) {
		modifyShoppingBasketBtn[i].addEventListener('click', function() {
	        modifyShoppingBasket(i);
	    });
	}

	for (let i = 0; i < deleteShoppingBasketBtn.length; i++) {
		deleteShoppingBasketBtn[i].addEventListener('click', function() {
			deleteShoppingBasket(i);
	    });
	}
	
	function modifyShoppingBasket(index) {
	    location.href = "/members/modifyShoppingBasket?sbno=" + sbnos[index].value + "&samount=" + samount[index].value;
	}
	
	function deleteShoppingBasket(i){
		location.href="/members/deleteShoppingBasket?sbno="+ sbnos[i].value; 
	}
	</script>
</body>
</html>