<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쇼핑몰</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/members/layout::header}"></div>
	
	<div class="container">
		<h1 class="page_title">장바구니</h1>
		<div>
		<input type="checkbox" name=""> 전체 선택
		</div>
		<div class="shoppingBasket_box d-flex align-items-center" th:each="shoppingBasket : ${list}">
			<div class="check_box">
				<input type="checkbox" name=""> 선택
			</div>
			<div class="img_box_wrap">
				<div class="img_box">
					<img th:src="@{'/images/' + ${shoppingBasket.pimg}}" alt="상품">
				</div>
			</div>
			<div class="info_box">
				<div>[[${shoppingBasket.pname}]]</div>
				<div>[[${shoppingBasket.saleprice}]]</div>
			</div>
			<div class="amount_box">
				<input type="hidden" class="sbno" name="sbno" th:value="${shoppingBasket.sbno}">
				<input type="number" class="samount" name="samount" th:value="${shoppingBasket.samount}">
				<button class="btn-pink" onclick="modifyShoppingBasket()">수정</button>
			</div>
			<div class="delete_box">
				<a class="btn-gray" href="">삭제</a>
			</div>
		</div>
	</div>
	<script>
	function modifyShoppingBasket(){
		const sbnos = document.querySelectorAll(".sbno");
		const samount = document.querySelectorAll(".samount");
		for(let i = 0; i<sbnos.length; i++){
			location.href="/members/modifyShoppingBasket?sbno="+ sbnos[i].value + "&samount=" + samount[i].value; 
		}
	}
	</script>
</body>
</html>