<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쇼핑몰</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/members/layout::header}"></div>
	
	<div class="container">
		<h1 class="page_title">장바구니</h1>
		<div>
		<input type="checkbox" name=""> 전체 선택
		</div>
		<div class="shoppingBasket_box d-flex align-items-center" th:each="shoppingBasket : ${list}">
			<div class="check_box">
				<input type="checkbox" class="chk" name="chk" th:value="${shoppingBasket.sbno}"> 선택
			</div>
			<div class="img_box_wrap">
				<div class="img_box">
					<img th:src="@{'/images/' + ${shoppingBasket.pimg}}" alt="상품">
				</div>
			</div>
			<div class="info_box">
				<div>[[${shoppingBasket.pname}]]</div>
				<div>[[${shoppingBasket.saleprice}]]</div>
			</div>
			<div class="amount_box">
				<input type="hidden" class="sbno" name="sbno" th:value="${shoppingBasket.sbno}">
				<input type="number" class="samount" name="samount" th:value="${shoppingBasket.samount}">
				<button class="btn-pink modifyShoppingBasketBtn">수정</button>
			</div>
			<div class="delete_box">
				<button class="btn-gray deleteShoppingBasketBtn">삭제</button>
			</div>
		</div>
		<button class="btn-pink" onclick="orderSend()" style="width:100%">주문하기</button>
	</div>
	<script>
	const sbnos = document.querySelectorAll(".sbno");
	const samount = document.querySelectorAll(".samount");
	const chkes = document.querySelectorAll(".chk");
	const modifyShoppingBasketBtn = document.querySelectorAll(".modifyShoppingBasketBtn");
	const deleteShoppingBasketBtn = document.querySelectorAll(".deleteShoppingBasketBtn");
	
	for (let i = 0; i < modifyShoppingBasketBtn.length; i++) {
		modifyShoppingBasketBtn[i].addEventListener('click', function() {
	        modifyShoppingBasket(i);
	    });
	}

	for (let i = 0; i < deleteShoppingBasketBtn.length; i++) {
		deleteShoppingBasketBtn[i].addEventListener('click', function() {
			deleteShoppingBasket(i);
	    });
	}
	
	function modifyShoppingBasket(index) {
	    location.href = "/members/modifyShoppingBasket?sbno=" + sbnos[index].value + "&samount=" + samount[index].value;
	}
	
	function deleteShoppingBasket(i){
		location.href="/members/deleteShoppingBasket?sbno="+ sbnos[i].value; 
	}
	
	
	function orderSend(){
		const arr = [];
		let str = "";
		for(let i = 0; i < chkes.length; i++){
			if (chkes[i].checked == true) {
		      	arr.push(chkes[i].value);
		      	str += "chk=" + chkes[i].value + "&";
		      }
		}
		str = str.slice(0, -1);
		console.log(arr);
		console.log(str);
		
		location.href="/members/salesAll?"+ str; 
	}
	</script>
</body>
</html>