<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쇼핑몰</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/members/layout::header}"></div>
	<div class="container">
		<div class="admin-form">
			<h1 class="form_page_title">회원가입</h1>
			<form action="/members/signup" method="post">
				<div>
					<label>ID<span class="text-red">*</span></label>
					<input type="text" name="username" id="username" placeholder="아이디">
				</div>
				<div>
					<label>PW<span class="text-red">*</span></label>
					<input type="password" name="pw" id="pw" placeholder="패스워드">
				</div>
				<div>
					<label>이름<span class="text-red">*</span></label>
					<input type="text" name="name" id="name" placeholder="이름">
				</div>
				<div>
					<label>주소<span class="text-red">*</span></label>
					<input type="text" name="addr" id="addr" placeholder="주소">
				</div>
				<input class="btn-pink" type="submit" value="가입하기">
			</form>
		</div>
	</div>
</body>
</html>