<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쇼핑몰</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/members/layout::header}"></div>
	<div class="container">
	<h1 class="page_title px-10">전체 상품</h1>
	<div class="d-flex">
		<div class="search_box d-flex align-items-center">
			<input type="text" name="keyword" id="search" placeholder="검색어를 입력하세요">
			<input type="button" id="search_btn" value="검색">
		</div>
	</div>
	<div class="flex-container">
		<div class="product_box_wrap" th:each="product : ${productList}">
			<div class="product_box">
				<div class="img_box d-flex align-items-center">
					<img th:src="@{'/images/' + ${product.pimg}}" alt="상품">
				</div>
				<div class="name_box">
				<a th:href="@{/productDtail(pno=${product.pno})}">[[${product.pname}]]</a>
				</div>
				<div class="price_box"><strong>[[${product.saleprice}]]</strong>원</div>
				<div class="content_box">[[${product.pcontent}]]</div>
			</div>
		</div>
	
	</div>
	
	</div>
	
</body>
</html>