<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쇼핑몰</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{/members/layout::header}"></div>
		<div class="container">
		<h1 class="page_title px-10">상품 상세보기</h1>
		<div class="product_detail_top">
			<input type="hidden" name="pno" id="pno" th:value="${product.pno}">
			<div class="img_box">
				<img th:src="@{'/images/' + ${product.pimg}}" alt="상품">
			</div>
			<div class="info_box">
				<div class="pname">
					[[${product.pname}]]
				</div>
				<div class="price d-flex flex-justify-between align-items-center">
					<span>가격</span><span><strong>[[${product.saleprice}]]</strong>원</span>
				</div>
				<div class="amount  d-flex flex-justify-between align-items-center">
					<span>재고 수량</span> <span>[[${product.amount}]]개</span>
				</div>
				<div class="order_amount d-flex flex-justify-between align-items-center">
					<span>주문 수량</span>
					<div>
						<input type="number" id="orderAmount" name="orderAmount" value="1">
					</div>
				</div>
				<div class="btns d-flex flex-justify-between align-items-center">
					<button class="btn-pink" onclick="orderNow()">바로 주문</button>
					<button class="btn-pink-outline" onclick="registShoppingBasket()">장바구니 담기</button>
				</div>
			</div>
		</div>
		<div class="product_detail_bottom">
			<div th:text="${product.pcontent}"></div>
			<img th:src="@{'/images/' + ${product.pcontent_img}}" alt="상품 설명 이미지">
		</div>
		
		<h5 class="sub_title">상품 후기</h5>
		<div class="review_box_wrap" th:each="review : ${reviewList}">
			<div class="product_review_box">
				<div class="review_content">
				[[${review.rcontent}]]
				</div>
				<div class="d-flex flex-justify-between align-items-center text-gray">
					<span>[[${review.username}]]
						<span th:if="${review.check != 0}">(실사용자)</span>
						<span th:unless="${review.check != 0}"></span>
					</span>
					<span>[[${review.regdate}]]</span>
					<div class="review_btn_box"  th:if="${review.username} == ${member}">
						<a class="modify-btn reviewModifyForm_btn">수정</a>
						<a class="delete-btn" href="">삭제</a>
					</div>
				</div>
			</div>
			<div class="product_review_modify_box">
				<textarea class="rcontent" placeholder="상품 후기"></textarea>
				<div class="overflow-hidden">
					<input class="btn-gray float-right reviewModifyCancel_btn" type="button" value="수정 취소">
					<input class="btn-pink float-right reviewModify_btn" type="button" value="후기 수정">
				</div>
			</div>
		</div>
		<div class="product_review_box">
			<form action="/members/registReview" method="post">
				<input type="hidden" name="pno" th:value="${product.pno}">
				<textarea name="rcontent" placeholder="상품 후기"></textarea>
				<div class="overflow-hidden">
					<input class="btn-pink float-right" type="submit" value="후기 등록">
				</div>
			</form>
		</div>
			
	</div>
	<script>
	const orderAmount = document.querySelector("#orderAmount");
	const pno = document.querySelector("#pno");
	
	function registShoppingBasket(){
		location.href="/members/registShoppingBasket?samount=" + orderAmount.value + "&pno=" + pno.value;
	}
	
	function orderNow(){
		location.href="/members/salesOneProduct?samount=" + orderAmount.value + "&pno=" + pno.value;
	}
	
	const reviewModifyForm_btns = document.querySelectorAll(".reviewModifyForm_btn");
	
	reviewModifyForm_btns.forEach((btn)=>{
		btn.addEventListener("click", function(){
			const reviewBox = btn.closest(".product_review_box");
			const reviewBoxWrap = btn.closest(".review_box_wrap");
			const text = reviewBox.querySelector('.review_content').innerText;
			reviewBox.style.display="none";
			reviewBoxWrap.querySelector(".product_review_modify_box").style.display="block";
			
			reviewBoxWrap.querySelector(".product_review_modify_box textarea").value = text;
		})
	})
	
	
	const reviewModifyCancel_btns = document.querySelectorAll(".reviewModifyCancel_btn");
	
	reviewModifyCancel_btns.forEach((btn)=>{
		btn.addEventListener("click", function(){
			console.log("textt")
			const product_review_modify_box = btn.closest(".product_review_modify_box");
			const reviewBoxWrap = btn.closest(".review_box_wrap");
			product_review_modify_box.style.display = "none";
			reviewBoxWrap.querySelector(".product_review_box").style.display = "block";
		})
	})
	
	
	function reviewModify(event){
		console.log(event.target);
		console.log(event.target.parentElement.parentElement.querySelector(".review_content"));
	}
	</script>
	
</body>
</html>