<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.shoppingMall2.dao.IMemberDao">
 	<select id="login" resultType="com.example.shoppingMall2.dto.Member">
	SELECT * FROM MEMBER WHERE username=#{param1} AND pw=#{param2}
	</select>
	<insert id="signup">
	INSERT INTO MEMBER VALUES(NULL, #{member.username}, #{member.pw}, #{member.name}, #{member.tel}, #{member.addr}, 'ROLE_MEMBER')
	</insert>
	<select id="shoppingBasketList" resultType="com.example.shoppingMall2.dto.ShoppingBasketDto">
	SELECT p.pno, p.pname, p.pimg, p.saleprice, sb.sbno, sb.username, sb.samount
	FROM product p
	join
	shopping_basket sb
	ON p.pno = sb.pno
	WHERE username=#{param1}
	</select>
	<insert id="registShoppingBasket">
	insert INTO shopping_basket VALUES(NULL, #{param1}, #{param2}, #{param3});
	</insert>
	<update id="modifyShoppingBasket">
	UPDATE shopping_basket SET samount=#{param1} WHERE sbno=#{param2}
	</update>
	<delete id="deleteShoppingBasket">
	DELETE from shopping_basket WHERE sbno=#{param1};
	</delete>
	<insert id="salesOneProduct">
	INSERT INTO sales VALUES(NULL, #{sales.pno}, #{sales.username}, #{sales.samount}, NOW(), #{sales.scode});
	</insert>
	<select id="getShoppingBasket" resultType="com.example.shoppingMall2.dto.ShoppingBasket">
	SELECT * FROM shopping_basket WHERE sbno=#{param1};
	</select>
	<select id="getSalesDetailList" resultType="com.example.shoppingMall2.dto.SalesDetail">
	SELECT s.sno, s.salesDate, s.samount, s.scode, p.pno, p.pname, p.pimg, p.saleprice
	FROM sales s
	JOIN
	product p
	ON s.pno=p.pno
	WHERE s.username=#{param1};
	</select>
	<delete id="deleteSales">
	DELETE FROM sales WHERE sno=#{param1};
	</delete>
	<update id="updateProductAmount">
	UPDATE product SET amount=#{param1} WHERE pno=#{param2};
	</update>
	<select id="getSales">
	SELECT * FROM sales WHERE sno=#{param1};
	</select>
	<insert id="registReview">
	INSERT INTO review VALUES(NULL, #{review.pno}, #{review.username}, #{review.rcontent}, 0, NOW());
	</insert>
	<select id="getReviewList" resultType="com.example.shoppingMall2.dto.Review">
	SELECT * FROM review where pno=#{param1}
	</select>
	<select id="reviewRealCheck">
	SELECT COUNT(*) FROM sales WHERE username=#{param1} AND pno=#{param2};
	</select>
 </mapper>